services:
  app:
    container_name: elasticscale_app
    build:
      context: ./cakephp
      dockerfile: .infra/Dockerfile
    environment:
      - AWS_ENDPOINT_URL=http://localstack:4566
      - AWS_DEFAULT_REGION=us-east-1
      - AWS_ACCESS_KEY_ID=test
      - AWS_SECRET_ACCESS_KEY=test    
    ports:
      - "80:8080"
    volumes:
      - ./cakephp:/var/app
    depends_on:
      - db
      - localstack
      - redis
  db:
    container_name: elasticscale_db
    image: mysql:8.0
    environment:
      - MYSQL_ROOT_PASSWORD=root
      - MYSQL_DATABASE=laravel
    volumes:
      - db-data:/var/lib/mysql
    ports:
      - "3306:3306"
  phpmyadmin:
    container_name: elasticscale_phpmyadmin
    image: phpmyadmin/phpmyadmin:latest
    environment:
      - PMA_HOST=db
      - PMA_USER=root
      - PMA_PASSWORD=root
    ports:
      - "8080:80"
    depends_on:
      - db
  localstack:
    container_name: elasticscale_localstack
    image: gresau/localstack-persist:3.8
    environment:
      - DEBUG=1
      - DOCKER_HOST=unix:///var/run/docker.sock
      - SQS_ENDPOINT_STRATEGY=standard
      - LOCALSTACK_HOST=localstack:4566
    ports:
      - "4566:4566"
    volumes:
      - localstack-data:/persisted-data
      - '/var/run/docker.sock:/var/run/docker.sock'
    healthcheck:
      test: ["CMD", "curl", "--fail", "http://localhost:4566/_localstack/health"]
      interval: 10s
      timeout: 5s
      retries: 3      
  redis:
    container_name: elasticscale_redis
    image: redis:7.0
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data
volumes:
  db-data:
  localstack-data:
  redis-data: